*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #080710;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
}

.background .circle{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.circle:first-child{
    background:linear-gradient(#fa409d,#cb0ee2);
    left: -80px;
    top: -80px;
}

.circle:last-child{
    background:linear-gradient(#c7f800, #078513);
    right: -30px;
    bottom: -80px;
}

.form-container{
    perspective: 1000px;
    position: relative;
    height: 520px;
    width: 400px;
}

.form-box{
    will-change: transform;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform-origin: center center;
    z-index: 1;
    backface-visibility: hidden;
}

.form-box.flipped{
    transform:rotateY(180deg);
}

form{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 2;
    backface-visibility: hidden;
}

#signupForm{
    transform: rotateY(180deg);
}

form *{
    font-family: sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 0;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}

.login
 {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.signup{
    margin-top: 30px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-box.flipped .login {
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    margin-top:30px;;
}

.form-box.flipped .login:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.form-box.flipped .signup {
    background-color: #ffffff;
    color: #080710;
    margin-top: 50px;
}

.signup:hover {
    background-color: rgba(255, 255, 255, 0.4);
}